//*konverterz styles *//
@font-face {
    font-family: myFortrack;
    src: url(../fonts/Fortrack-Italic.otf);
    src: url(../fonts/Fortrack-Regular.otf); 
}

@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);
body {
    overflow-x: hidden;
    font-family: 'PT Sans', sans-serif;
}

.text-muted {
    color: #777;
    font-weight: 400;
    font-family: 'PT Sans', sans-serif;
}
.fa {
    color: #777;
}

.text-primary {
    color: #fed136;
}

p {
    font-size: 14px;
    line-height: 1.75;
}

p.large {
    font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
}

a {
    color: #10b7bd;
}

a:hover,
a:focus,
a:active,
a.active {
    color: #10b7bd;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
}

.img-centered {
    margin: 0 auto;
}

.bg-light-gray {
    background-color: #f7f7f7;
}

.bg-darkest-gray {
    background-color: #222;
}

.btn-primary {
    border-color: #10b7c0;
    text-transform: uppercase;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    color: #fff;
    background-color: #10b7c0;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    border-color: #10b7c0;
    color: #fff;
    background-color: #10b7c0;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    border-color: #10b7c0;
    background-color: #10b7c0;
}

.btn-primary .badge {
    color: #10b7c0;
    background-color: #fff;
}

.btn-xl {
    padding: 5px 25px;
    border-color: #fbffff;
    border-radius: 17px;
    text-transform: uppercase;
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: #e8ed17;
}

.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    border-color: #10b7bd;
    color: #190c13;
    background-color: #10b7bd;
}

.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    background-image: none;
}

.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
    border-color: #10b7bd;
    background-color: #10b7bd;
}

.btn-xl .badge {
    color: #fed136;
    background-color: #fff;
}
.btn-xl-1 {
    background:#10b7bd;
    color: #182d30;
    border-color: #10b7bd;
    padding:7px 75px;

}
.btn-xl-2 {
    padding:7px 75px;
}
.badge {
    background-color: #23aa99;
    padding:11px 14px;
    border-radius: 17px;
}
.custom-row {
    padding:0px 100px;
}

/* Quotation Form */

.quotation-form {
    background: #666666;
    color: #ffffff;
    -webkit-border-radius:10px;
    -moz-border-radius: 10px; 
    border-radius: 10px; 
}
.dark-grey {
    text-align: center;
    text-transform: uppercase;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 24px;
}
.custom-form-group {
    background:#65abcf;
    border-color: #65abcf;
}
.quote {
    max-width: 800px;
    margin:0 auto;
    margin-top:40px;
    background: #fff;
    padding:30px;
}
.navbar-default {
    border-color: transparent;
    background-color: #222;
}

.navbar-default .navbar-brand {
    font-family: 'PT Sans', sans-serif;
    color: #10b7bd;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: #10b7bd;
}

.navbar-default .navbar-collapse {
    border-color: rgba(255,255,255,.02);
}

.navbar-default .navbar-toggle {
    border-color: #10b7bd;
    background-color: #10b7bd;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #10b7bd;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
    background-color:transparent!important;
}
.navbar-default .nav li a {
    text-transform: uppercase;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff;
    font-size:11px;
}
 .navbar-default.navbar-shrink {
        padding: 10px 0;
        background-color: #222;
        opacity: 0.8;
        filter: alpha(opacity=80);
    }

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    outline: 0;
    color: #10b7bd;
}

.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: #10b7bd;
/*    background-color: #10b7bd;
*/}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #10b7bd;
/*    background-color: #10b7bd;
*/}
.navbar-nav > li > a {
    padding-top: 4px;
    padding-bottom: 4px;
}
@media(min-width:768px) {
    .navbar-default {
        padding: 25px 0;
        border: 0;
        background-color: transparent;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }


    .navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-default .navbar-nav>.active>a {
        border-radius: 17px;
    }

    .navbar-default.navbar-shrink {
        padding: 10px 0;
        background-color: #222;
        opacity: 0.8;
        filter: alpha(opacity=80);
    }

    .navbar-default.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}
.navbar-default .navbar-nav > .active > a {
    background: transparent;
    background-color: #222;
}
header {
    text-align: center;
    color: #fff;
    background-attachment: scroll;
    background-image: url(../img/backimage.jpg);
    background-position: center center;
    background-repeat: none;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.9);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .intro-text {
    padding-top: 100px;
    padding-bottom: 50px;
}

header .intro-text .intro-lead-in {
    margin-bottom: 25px;
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    line-height: 22px;
}

header .intro-text .intro-heading {
    margin-bottom: 25px;
    font-family: 'PT Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 25px;
}

@media(min-width:768px) {
    header .intro-text {
        padding-top: 250px;
        padding-bottom: 200px;
    }

    header .intro-text .intro-lead-in {
        margin-bottom: 25px;
        font-family: 'PT Sans', sans-serif;
        font-size: 18px;
    }

    header .intro-text .intro-heading {
        margin-bottom: 50px;
        font-family: 'PT Sans', sans-serif;
        font-size: 75px;
        font-weight: 700;
        line-height:67px;
    }
}

section {
    padding: 50px 0;
}

section h3.section-heading {
    font-size: 23px;
    font-weight: 700;
    color: rgb(75, 75, 75);
    letter-spacing: 1px;
}

section h3.section-subheading {
    margin-bottom: 24px;
    text-transform: none;
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #b2b2b2;
}

@media(min-width:768px) {
    section {
        padding: 50px 0;
    }
}
 
.service-heading {
    margin: 15px 0px;
    text-transform: uppercase;
    color: #484848;
    font-size: 16px;
    letter-spacing: 2px;
}

#portfolio .portfolio-item {
    right: 0;
    margin: 0 0 15px;
}

#portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: #10b7c0;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
    opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
    margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
    margin: 0;
}

#portfolio .portfolio-item .portfolio-caption {
    margin: 0 auto;
    padding: 25px;
    max-width: 400px;
    text-align: center;
    background-color: #fff;
}

#portfolio .portfolio-item .portfolio-caption h4 {
    margin: 0;
    text-transform: none;
}

#portfolio .portfolio-item .portfolio-caption p {
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    font-style: italic;
}

#portfolio * {
   
}
.pricing-table {
    border:1px solid #e9e9e9;
    padding-bottom: 10px;
}
.pricing-title {
    background: #3598db;
    color: #fff;
    margin-top: -10px;
    padding: 5px 0px;
}
.caret {
    display: inline-block;
    width: 20px;
    height: 23px;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 19px dashed;
    border-right: 19px solid transparent;
    border-left: 21px solid transparent;
    color: #3598db;
}

.price h6 {
    color: #b9b9b9;
    border-top:1px solid #383838;
    display: inline-block;
    line-height: 21px;
}
.price-list {
    background: #eaeaea;
    padding:10px 0;
}
.price-list li {
    margin-top:10px;
}

.price {
    color: #808080;

}
.price-btn {
    border:1px solid #3598db;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.top-footer {
    background: #191919;
}
.footer {
    background:#1d1d1d;
    padding:40px;
    color: #fff;
}
.custom-touch li {
    margin-top: 10px;
    text-transform: uppercase;
}

@media(min-width:767px) {
    #portfolio .portfolio-item {
        margin: 0 0 30px;
    }
}


.team-member {
    margin-bottom: 50px;
    text-align: center;
}

.team-member img {
    margin: 0 auto;
    border: 7px solid #fff;
}

.team-member h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
}

.team-member p {
    margin-top: 0;
}
.instgram-feed {
    font-size: 14px;
}
.feed-list {
    font-size: 11px;
     color:#808080;
}

ul.social-buttons {
    margin-bottom: 0;
}

ul.social-buttons li a {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    font-size: 13px;
    line-height: 32px;
    outline: 0;
    color: #fff;
    background-color: #fff;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
    background-color: #14b3b9;
}
.fa-icon {
    margin-left: 10px;
    color: #1b1b1b;
}

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
    outline: 0;
}

.portfolio-modal .modal-content {
    padding: 100px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.portfolio-modal .modal-content h2 {
    margin-bottom: 15px;
    font-size: 3em;
}

.portfolio-modal .modal-content p {
    margin-bottom: 30px;
}

.portfolio-modal .modal-content p.item-intro {
    margin: 20px 0 30px;
    font-size: 16px;
    font-style: italic;
}

.portfolio-modal .modal-content ul.list-inline {
    margin-top: 0;
    margin-bottom: 30px;
}

.portfolio-modal .modal-content img {
    margin-bottom: 30px;
}

.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.portfolio-modal .close-modal:hover {
    opacity: .3;
}

.portfolio-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #222;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.portfolio-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #222;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.portfolio-modal .modal-backdrop {
    display: none;
    opacity: 0;
}
.fa-colr {
    color: #fff;
}
/* Back to Top */

.scroll-top-wrapper {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    text-align: center;
    z-index: 99999999;
    background-color: #11b8be;
    color: #fff;
    width: 30px;
    height: 30px;
    line-height: 23px;
    right: 30px;
    bottom: 20px;
    padding-top: 2px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.scroll-top-wrapper:hover {
    background-color: #11b8be;
}
.scroll-top-wrapper.show {
    visibility:visible;
    cursor:pointer;
    opacity: 1.0;
}
.scroll-top-wrapper i.fa {
    line-height: inherit;
}
.custom-angle-up {
    color: #fff;
    background-color: #11b8be;
}

::-moz-selection {
    text-shadow: none;
    background: #14b3b9;
}

::selection {
    text-shadow: none;
    background: #14b3b9;
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

@media (max-width : 767px){
    .btn-xl-2 {
        margin-top: 10px;
    }
    .custom-row {
    padding:0px;
}
   
}

/* Social Icons */

.meta-social ul li,
ul.meta-social li {
    padding: 0 0.278em;
    text-align: center;
}

.meta-social ul li a,
ul.meta-social li a {
    display: inline-block;
    width: 2.667em;
    height: 2.667em;
    border: 1px solid;
    border-color: #ffffff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    color: #ffffff;
    background: #ffffff;
}

.text-light .meta-social ul li a,
.text-light ul.meta-social li a {
    border-color: #ffffff;
    color: #ffffff;
}

.meta-social ul li a i,
ul.meta-social li a i {
    line-height: 2em;
}

.meta-social ul li a:hover,
ul.meta-social li a:hover {
    color: #fff;
}

.meta-social ul li a.facebook-share:hover,
ul.meta-social li a.facebook-share:hover {
    border-color: #3b5998;
    background-color: #3b5998;
}
.meta-social ul li a.gplus-share:hover,
ul.meta-social li a.gplus-share:hover {
    border-color: #dd4b39;
    background-color: #dd4b39;
}

.meta-social ul li a.linkedin-share:hover,
ul.meta-social li a.linkedin-share:hover {
    border-color: #0e76a8;
    background-color: #0e76a8;
}

.meta-social ul li a.pinterest-share:hover,
ul.meta-social li a.pinterest-share:hover {
    border-color: #c8232c;
    background-color: #c8232c;
}

.meta-social ul li a.twitter-share:hover,
ul.meta-social li a.twitter-share:hover {
    border-color: #00acee;
    background-color: #00acee;
}

.meta-social ul li a.youtube-share:hover,
ul.meta-social li a.youtube-share:hover {
    border-color: #c4302b;
    background-color: #c4302b;
}
footer .meta-social ul li {
    padding-right: 0.5em;
    padding-left: 0;
}

.widget.meta-social ul li a i {
    vertical-align: -15%;
}

.fa-angle-down {
    color: #fff;
    margin-top: 2px;
}
/* Bouncing Ball CSS */


#animated-example {
    height: 30px;
    width: 30px;
    border-radius: 17px;
    margin:0 auto;
    margin-top: 100px;
    }


.animated { 
    -webkit-animation-name: bounceIn;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: 10;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-fill-mode: forwards;
    
    animation-name: bounceIn;
    animation-duration: 5s;
    animation-iteration-count: 10;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
} 

/*
 * Animation for webkit
*/
@-webkit-keyframes bounce { 
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
    40% {-webkit-transform: translateY(-30px);} 
    60% {-webkit-transform: translateY(-15px);} 
} 
  
@keyframes bounce { 
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
    40% {transform: translateY(-30px);} 
    60% {transform: translateY(-15px);} 
} 
  
/*
 * Adding the animation to our element
*/
.bounce { 
    -webkit-animation-name: bounce; 
    animation-name: bounce; 
}

/* CD Panel CSS */

.cd-main-content {
  text-align: center;
}
.cd-main-content h1 {
  font-size: 20px;
  font-size: 1.25rem;
  color: #64788c;
  padding: 4em 0;
}
.cd-main-content .cd-btn {
  position: relative;
  display: inline-block;
  padding: 1em 2em;
  background-color: #89ba2c;
  color: #ffffff;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-radius: 50em;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 0 5px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
.no-touch .cd-main-content .cd-btn:hover {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 0 20px rgba(0, 0, 0, 0.3);
}
@media only screen and (min-width: 1170px) {
  .cd-main-content h1 {
    font-size: 32px;
    font-size: 2rem;
  }
}

.cd-panel {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
  -webkit-transition: visibility 0s 0.6s;
  -moz-transition: visibility 0s 0.6s;
  transition: visibility 0s 0.6s;
}
.cd-panel::after {
  /* overlay layer */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  cursor: pointer;
  -webkit-transition: background 0.3s 0.3s;
  -moz-transition: background 0.3s 0.3s;
  transition: background 0.3s 0.3s;
}
.cd-panel.is-visible {
  visibility: visible;
  -webkit-transition: visibility 0s 0s;
  -moz-transition: visibility 0s 0s;
  transition: visibility 0s 0s;
}
.cd-panel.is-visible::after {
  background: rgba(0, 0, 0, 0.6);
  -webkit-transition: background 0.3s 0s;
  -moz-transition: background 0.3s 0s;
  transition: background 0.3s 0s;
}
.cd-panel.is-visible .cd-panel-close::before {
  -webkit-animation: cd-close-1 0.6s 0.3s;
  -moz-animation: cd-close-1 0.6s 0.3s;
  animation: cd-close-1 0.6s 0.3s;
}
.cd-panel.is-visible .cd-panel-close::after {
  -webkit-animation: cd-close-2 0.6s 0.3s;
  -moz-animation: cd-close-2 0.6s 0.3s;
  animation: cd-close-2 0.6s 0.3s;
}

@-webkit-keyframes cd-close-1 {
  0%, 50% {
    -webkit-transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(45deg);
  }
}
@-moz-keyframes cd-close-1 {
  0%, 50% {
    -moz-transform: rotate(0);
  }
  100% {
    -moz-transform: rotate(45deg);
  }
}
@keyframes cd-close-1 {
  0%, 50% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}
@-webkit-keyframes cd-close-2 {
  0%, 50% {
    -webkit-transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(-45deg);
  }
}
@-moz-keyframes cd-close-2 {
  0%, 50% {
    -moz-transform: rotate(0);
  }
  100% {
    -moz-transform: rotate(-45deg);
  }
}
@keyframes cd-close-2 {
  0%, 50% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}
.cd-panel-header {
  position: fixed;
  width: 90%;
  height: 50px;
  line-height: 50px;
  background: rgba(255, 255, 255, 0.96);
  z-index: 2;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
  -webkit-transition: top 0.3s 0s;
  -moz-transition: top 0.3s 0s;
  transition: top 0.3s 0s;
}
.cd-panel-header h1 {
  font-weight: bold;
  color: #89ba2c;
  padding-left: 5%;
}
.from-right .cd-panel-header, .from-left .cd-panel-header {
  top: -50px;
}
.from-right .cd-panel-header {
  right: 0;
}
.from-left .cd-panel-header {
  left: 0;
}
.is-visible .cd-panel-header {
  top: 0;
  -webkit-transition: top 0.3s 0.3s;
  -moz-transition: top 0.3s 0.3s;
  transition: top 0.3s 0.3s;
}
@media only screen and (min-width: 768px) {
  .cd-panel-header {
    width: 70%;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-panel-header {
    width: 50%;
  }
}

.cd-panel-close {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 60px;
  color: #222;
  /* image replacement */
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
.cd-panel-close::before, .cd-panel-close::after {
  /* close icon created in CSS */
  position: absolute;
  top: 22px;
  left: 20px;
  height: 3px;
  width: 20px;
  background-color: #424f5c;
  color: #222;
  /* this fixes a bug where pseudo elements are slighty off position */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.cd-panel-close::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.cd-panel-close::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.no-touch .cd-panel-close:hover {
  background-color: #424f5c;
  color: #fff;
}
.no-touch .cd-panel-close:hover::before, .no-touch .cd-panel-close:hover::after {
  background-color: #ffffff;
  color: #222;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.no-touch .cd-panel-close:hover::before {
  -webkit-transform: rotate(220deg);
  -moz-transform: rotate(220deg);
  -ms-transform: rotate(220deg);
  -o-transform: rotate(220deg);
  transform: rotate(220deg);
}
.no-touch .cd-panel-close:hover::after {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.cd-panel-container {
  position: fixed;
  width: 90%;
  height: 100%;
  top: 0;
  background: #dbe2e9;
  z-index: 1;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.from-right .cd-panel-container {
  right: 0;
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  -o-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
.from-left .cd-panel-container {
  left: 0;
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  -o-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
.is-visible .cd-panel-container {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
}
@media only screen and (min-width: 768px) {
  .cd-panel-container {
    width: 70%;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-panel-container {
    width: 50%;
  }
}

.cd-panel-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 70px 5%;
  overflow: auto;
  /* smooth scrolling on touch devices */
  -webkit-overflow-scrolling: touch;
}
.panel-para {
    color: #222;
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    line-height: 21px;
    text-align: justify;
}
.cd-panel-content p:first-of-type {
  margin-top: 0;
}

.cd-panel-title {
    color: #222;
    margin-top: 15px;
    font-family: 'PT Sans', sans-serif;
}